.bg{
    position: relative;
    width: 100%;
    height: 94.8%;
    background: url('/assets/firstPageBackgroundv2.png') no-repeat;
    background-size: 100%;
    background-position: top center;
}

header{
    padding-top: 50px;
}

.main-text {
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate( -50%,0);
    width: 70%;
    height: 2.5%;
    font-size: 16px;
}

.container-one {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate( -50%,0);
    width: 80%;
    height: 3%;
    overflow: hidden;
}

.child-left {
    width: 30%;
    height: 100%;    
    float:left;
    margin-right: 5%;
}

.child-center {
    width: 30%;
    height: 100%;    
    float:left;
    margin-right: 5%;
}

.child-right {
    width: 30%;
    height: 100%;
    float: left;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 14px;    
}

h1 span {
    background-color:rgb(231, 231, 231);
}

.left-border-box {
    text-align: left;
    font-weight: bold;
    position: absolute;
    top: 38%;
    left: 30%;
    transform: translate( -50%,0);
    width: 40%;
    height: 8%;
    font-size: 16px;
    border:2px dashed black;
    border-radius: 10px;
    padding: 20px;    
    background-color:rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-two {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate( -50%,0);
    width: 80%;
    height: 15%;
    overflow: hidden;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-icons-container {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate( -50%,0);
    width: 13%;
    height: 2%;
    overflow: hidden;
}

.read-more-button {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    top: 75%;
    left: 60%;
    width: 30%;
    height: 15%;
    padding: 2%;
    border:1px solid black;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.678);
}
