<body class="bg">

    <div class="main-text">
        Black Mountain is the leading website for booking multi-day guided tours and trips. We want to make vacation planning process as smooth as possible, so we provide online tools that allow users to compare tours, check verified customer reviews and photos, view the travel distance and many other options. 
    </div>

    <img src="./assets/mapIcon.png" style="width:6.5%; height: auto; position:absolute; top: 28%; left: 22.5%; transform: translate( -50%,0); float:left; " >
    <img src="./assets/globeIcon.png" style="width:6.5%; height: auto; position:absolute; top: 28%; left: 50%; transform: translate( -50%,0); float:left; " >
    <img src="./assets/planeIcon.jpg" style="width:6.5%; height: auto; position:absolute; top: 28%; left: 78.5%; transform: translate( -50%,0); float:left; " >

    <section class="container-one">
        <div class="child-left">
            <h1><span>
                We offer a selection of over 700 hand-picked tour packages from more than 20 destinations worldwide.
            </span></h1>
        </div> 
        <div class="child-center">
            <h1><span>
                Our team is committed to bringing you the best price, quality, and value on tours and activities from hundreds of tour operators around the world.
            </span></h1>
        </div> 
        <div class="child-right">
            <h1><span>
                Black Mountain online booking system makes it easy for travelers to find the perfect tour by using our customized filter options. 
            </span></h1>
        </div> 
    </section>        

    <div class="left-border-box">
        &nbsp;&nbsp;&nbsp;&nbsp;Black Mountain is the leading website for booking multi-day guided tours and trips. We want to make vacation planning process as smooth as possible, so we provide online tools that allow users to compare tours, check verified customer reviews and photos, view the travel distance and many other options. 
        <a href="about">
            <div class="read-more-button">
                READ MORE
            </div>
        </a>
    </div>

    <section class="container-two">
    </section>

    <section class="bottom-icons-container">
        <img src="./assets/facebookIcon.png" style="width:30%; height: auto; position:absolute; float:left; " >
        <img src="./assets/instagramIcon.png" style="width:30%; height: auto; position:absolute; left: 35%; float:left; " >
        <img src="./assets/googleplusIcon.png" style="width:30%; height: auto; position:absolute; left: 70%; float:left; " >
    </section>
</body>