<body class="bg">

    <div class="main-text">
        Black Mountain is the leading website for booking multi-day guided tours and trips. We want to make vacation planning process as smooth as possible, so we provide online tools that allow users to compare tours, check verified customer reviews and photos, view the travel distance and many other options. 
    </div>

    <img src="./assets/mapIcon.png" style="width:6.5%; height: auto; position:absolute; top: 28%; left: 22.5%; transform: translate( -50%,0); float:left; " >
    <img src="./assets/globeIcon.png" style="width:6.5%; height: auto; position:absolute; top: 28%; left: 50%; transform: translate( -50%,0); float:left; " >
    <img src="./assets/planeIcon.jpg" style="width:6.5%; height: auto; position:absolute; top: 28%; left: 78.5%; transform: translate( -50%,0); float:left; " >

    <section class="container-one">
        <div class="child-left">
            <h1><span>
                We offer a selection of over 700 hand-picked tour packages from more than 20 destinations worldwide.
            </span></h1>
        </div> 
        <div class="child-center">
            <h1><span>
                Our team is committed to bringing you the best price, quality, and value on tours and activities from hundreds of tour operators around the world.
            </span></h1>
        </div> 
        <div class="child-right">
            <h1><span>
                Black Mountain online booking system makes it easy for travelers to find the perfect tour by using our customized filter options. 
            </span></h1>
        </div> 
    </section>        

    <div class="left-border-box">
        &nbsp;&nbsp;&nbsp;&nbsp; Our mission is to become YOUR travel consultant! We plan to provide our customers full and high-quality tourist products and travel services! Our vision is to develop one of the most extensive and powerful network of agencies in Romania, capable of providing standardized services that should satisfy the most demanding requirements in terms of travel safety and comfort for business or leisure travel!
        <a href="about">
            <div class="read-more-button">
                READ MORE
            </div>
        </a>
    </div>

    <section class="container-two">
        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_greece.jpg">
            <img src="assets/locations/img_greece.jpg" alt="Greek Coast Towns" width="600" height="400">
            </a>
            <div class="desc">Greek Coast Towns</div>
        </div>
        </div>
        
        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_italys_cinque_terre.jpg">
            <img src="assets/locations/img_italys_cinque_terre.jpg" alt="Italys Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Italys Cinque Terre</div>
        </div>
        </div>

        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_jenny_lake.jpg">
            <img src="assets/locations/img_jenny_lake.jpg" alt="Jenny Lake" width="600" height="400">
            </a>
            <div class="desc">Jenny Lake</div>
        </div>
        </div>
        
        <div class="clearfix"></div>
    </section>

    <section class="bottom-icons-container">
            <a href="https://www.facebook.com"><img src="./assets/facebookIcon.png" style="width:30%; height: auto; position:absolute; float:left; " ></a>
            <a href="https://www.instagram.com"><img src="./assets/instagramIcon.png" style="width:30%; height: auto; position:absolute; left: 35%; float:left; " ></a>
            <a href="https://www.google.com"><img src="./assets/googleplusIcon.png" style="width:30%; height: auto; position:absolute; left: 70%; float:left; " ></a>
    </section>
</body>