<div class="containter">
    <style>
        ul {
            position: fixed;
            width: 100%;
            list-style-type: none;
            margin:0%;
            top
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: aqua;
            text-align: center;
            padding: 14px 82px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }
    </style>

    <ul>
        <li>
            <a class="active" href="home">HOME</a>
        </li>
        <li>
            <a href="#travelroutes">TRAVEL ROUTES</a>
        </li>
        <li>
            <a href="#aboutus">ABOUT US</a>
        </li>
        <li>
            <a href="#faq">FAQ</a>
        </li>
        <li>
            <a href="#contactus">CONTACT US</a>
        </li>
        <li>
            <a href="login">LOGIN</a>
        </li>
    </ul>
</div>