<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
<div class="containter">

    <ul>
        <li>
            <a class="active" href="home">HOME</a>
        </li>
        <li>
            <a href="#travelroutes">TRAVEL ROUTES</a>
        </li>
        <li>
            <a href="#aboutus">ABOUT US</a>
        </li>
        <li>
            <a href="#faq">FAQ</a>
        </li>
        <li>
            <a href="#contactus">CONTACT US</a>
        </li>
        <li>
            <a href="login">LOGIN</a>
        </li>
    </ul>
</div>
</nav>