<body class="bg">
    <section class="container-two">
        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_fjords.jpg">
            <img src="assets/locations/img_fjords.jpg" alt="Trolltunga Norway" width="600" height="400">
            </a>
            <div class="desc">Finland Fjords</div>
        </div>
        </div>
        
        
        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_forest.jpg">
            <img src="assets/locations/img_forest.jpg" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">Amazonian Forest</div>
        </div>
        </div>
        
        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_lights.jpg">
            <img src="assets/locations/img_lights.jpg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Northern Lights</div>
        </div>
        </div>
        
        <div class="clearfix"></div>
        




        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_mountains.jpg">
            <img src="assets/locations/img_mountains.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Romanian Mountains</div>
        </div>
        </div>

        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_angkor_wat.jpg">
            <img src="assets/locations/img_angkor_wat.jpg" alt="Angkor Wat" width="600" height="400">
            </a>
            <div class="desc">Angkor Wat</div>
        </div>
        </div>
        
        
        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_fiji.jpg">
            <img src="assets/locations/img_fiji.jpg" alt="Fiji Islands" width="600" height="400">
            </a>
            <div class="desc">Fiji Islands</div>
        </div>
        </div>
        
        <div class="clearfix"></div>
        




        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_greece.jpg">
            <img src="assets/locations/img_greece.jpg" alt="Greek Coast Towns" width="600" height="400">
            </a>
            <div class="desc">Greek Coast Towns</div>
        </div>
        </div>
        
        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_italys_cinque_terre.jpg">
            <img src="assets/locations/img_italys_cinque_terre.jpg" alt="Italys Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Italys Cinque Terre</div>
        </div>
        </div>

        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_jenny_lake.jpg">
            <img src="assets/locations/img_jenny_lake.jpg" alt="Jenny Lake" width="600" height="400">
            </a>
            <div class="desc">Jenny Lake</div>
        </div>
        </div>
        
        <div class="clearfix"></div>
        
        
        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_pacific_coast_highway.jpg">
            <img src="assets/locations/img_pacific_coast_highway.jpg" alt="Pacific Coast Highway" width="600" height="400">
            </a>
            <div class="desc">Pacific Coast Highway</div>
        </div>
        </div>

        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_place_des_vosges.jpg">
            <img src="assets/locations/img_place_des_vosges.jpg" alt="Place Des Vosges" width="600" height="400">
            </a>
            <div class="desc">Place Des Vosges</div>
        </div>
        </div>
        
        <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/locations/img_spain_coast.png">
            <img src="assets/locations/img_spain_coast.png" alt="Spain Coast" width="600" height="400">
            </a>
            <div class="desc">Spain Coast</div>
        </div>
        </div>
        
        <div class="clearfix"></div>
    </section>
</body>