<body >

    <div class="quote-text">
      <h1><span>
        "Te rog fii un călător, nu un turist. Încearcă lucruri noi, întâlnește oameni noi și uită-te mai departe de ceea ce se află în fața ochilor tăi. Acestea sunt cheile pentru a înțelege minunata lume în care trăim" <br>– Andrew Zimmern.
      </span></h1>
    </div>

    <div class="main-text">
        Our mission is to become YOUR travel consultant!  <br> We plan to provide our customers full and high-quality tourist products and travel services!

        Our vision is to develop one of the most extensive and powerful network of agencies in Romania, capable of providing standardized services that should satisfy the most demanding requirements in terms of travel safety and comfort for business or leisure travel!
        
        Our values are primarily founded on commitment to our customers, employees, partners, and contractors and on conducting a transparent activity, in full compliance with the national and EU legislation!
        
        Our experience, our strong partnerships nationwide and abroad and our team of tourism consultants ensure the high quality of our travel services and are our main assets, that YOU, the tourist, the business traveler, our customer, would benefit from!
    </div>

  <section class="team">
     <h2>OUR TEAM</h2>
     <ul>
        <li>
          <figure><img src="/assets/alex.jpg" alt="" style="border-radius: 8px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <figcaption>
              <p class="team_name">Alexandru Comsa</p>
              <p class="team_class">10LF251</p>
            </figcaption>
          </figure>
       </li>
        <li>
          <figure><img src="/assets/robert.jpg" alt="" style="border-radius: 8px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <figcaption>
              <p class="team_name">Munteanu Robert</p>
              <p class="team_class">10LF251</p>
             </figcaption>
          </figure>
         </li>
         <li>
           <figure><img src="/assets/dan.jpg" alt="" style="border-radius: 8px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <figcaption>
              <p class="team_name">Serban Dan</p>
              <p class="team_class">10LF252</p>
            </figcaption>
           </figure>
         </li>
         <li>
            <figure><img src="/assets/iosif.jpg" alt="" style="border-radius: 8px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
             <figcaption>
               <p class="team_name">Chesca Iosif</p>
               <p class="team_class">10LF251</p>
             </figcaption>
            </figure>
          </li>
       </ul>
 </section>

 <div class="bottom-text">
    Black Mountain is the leading website for booking multi-day guided tours and trips. We want to make vacation planning process as smooth as possible, so we provide online tools that allow users to compare tours, check verified customer reviews and photos, view the travel distance and many other options. 
    <br><br>
    We offer a selection of over 700 hand-picked tour packages from more than 20 destinations worldwide.
    <br><br>
    Our team is committed to bringing you the best price, quality, and value on tours and activities from hundreds of tour operators around the world.
    <br><br>
    Black Mountain online booking system makes it easy for travelers to find the perfect tour by using our customized filter options. 
  </div>
        
  <section class="bottom-icons-container">
      <a href="https://www.facebook.com"><img src="./assets/facebookIcon.png" style="width:30%; height: auto; position:absolute; float:left; " ></a>
      <a href="https://www.instagram.com"><img src="./assets/instagramIcon.png" style="width:30%; height: auto; position:absolute; left: 35%; float:left; " ></a>
      <a href="https://www.google.com"><img src="./assets/googleplusIcon.png" style="width:30%; height: auto; position:absolute; left: 70%; float:left; " ></a>
  </section>
</body>