<body >

  <div class="Row"></div>
    <div class="Column"> <p id="p1"> &emsp; "Te rog fii un călător, nu un turist. Încearcă lucruri noi, întâlnește oameni noi și uită-te mai departe de ceea ce se află în fața ochilor tăi. Acestea sunt cheile pentru a înțelege minunata lume în care trăim – Andrew Zimmern."</p></div>
    <div class="Column" ><img  src="/assets/aboutus1.jpg" alt=""></div>
  <div class="Row"></div>
    <div class="Column"> <p id="p2"> &emsp; "TEXTUL NOSTRU...........................................
      ................................................................................................
      ................................................................................................
      ......................."</p></div>
  
  <section id="team">
     <h2>Membrii echipe noastre</h2>
     <ul>
        <li>
          <figure><img src="/assets/alex.jpg" alt="">
            <figcaption>
              <p class="team_name">Alexandru Comsa</p>
              <p class="team_class">10LF251</p>
            </figcaption>
          </figure>
       </li>
        <li>
          <figure><img src="/assets/robert.jpg" alt="">
            <figcaption>
              <p class="team_name">Munteanu Robert</p>
              <p class="team_class">10LF251</p>
             </figcaption>
          </figure>
         </li>
         <li>
           <figure><img src="/assets/dan.jpg" alt="">
            <figcaption>
              <p class="team_name">Serban Dan</p>
              <p class="team_class">10LF252</p>
            </figcaption>
           </figure>
         </li>
         <li>
            <figure><img src="/assets/iosif.jpg" alt="">
             <figcaption>
               <p class="team_name">Chesca Iosif</p>
               <p class="team_class">10LF251</p>
             </figcaption>
            </figure>
          </li>
       </ul>
 </section>
        

</body>