<body >

  <div class="Row"></div>
    <div class="Column"> <p id="p1"> &emsp; "Te rog fii un călător, nu un turist. Încearcă lucruri noi, întâlnește oameni noi și uită-te mai departe de ceea ce se află în fața ochilor tăi. Acestea sunt cheile pentru a înțelege minunata lume în care trăim – Andrew Zimmern."</p></div>
    <div class="Column" ><img  src="/assets/aboutus1.jpg" alt=""></div>
  <div class="Row"></div>
    <div class="Column"> <p id="p2"> &emsp; Our mission is to become YOUR travel consultant! We plan to provide our customers full and high-quality tourist products and travel services!

      Our vision is to develop one of the most extensive and powerful network of agencies in Romania, capable of providing standardized services that should satisfy the most demanding requirements in terms of travel safety and comfort for business or leisure travel!
      
      Our values are primarily founded on commitment to our customers, employees, partners, and contractors and on conducting a transparent activity, in full compliance with the national and EU legislation!
      
      Our experience, our strong partnerships nationwide and abroad and our team of tourism consultants ensure the high quality of our travel services and are our main assets, that YOU, the tourist, the business traveler, our customer, would benefit from!</p></div>
  
  <section id="team">
     <h2>Membrii echipe noastre</h2>
     <ul>
        <li>
          <figure><img src="/assets/alex.jpg" alt="">
            <figcaption>
              <p class="team_name">Alexandru Comsa</p>
              <p class="team_class">10LF251</p>
            </figcaption>
          </figure>
       </li>
        <li>
          <figure><img src="/assets/robert.jpg" alt="">
            <figcaption>
              <p class="team_name">Munteanu Robert</p>
              <p class="team_class">10LF251</p>
             </figcaption>
          </figure>
         </li>
         <li>
           <figure><img src="/assets/dan.jpg" alt="">
            <figcaption>
              <p class="team_name">Serban Dan</p>
              <p class="team_class">10LF252</p>
            </figcaption>
           </figure>
         </li>
         <li>
            <figure><img src="/assets/iosif.jpg" alt="">
             <figcaption>
               <p class="team_name">Chesca Iosif</p>
               <p class="team_class">10LF251</p>
             </figcaption>
            </figure>
          </li>
       </ul>
 </section>
        

</body>