<body  >
    <img src="/assets/FAQ.jpg">
 <ul>
   <li>
    In cazul anularii unei calatorii se returneaza banii automat?
     <p>Da. Corporatia BlackMountain are contract cu aproape fiecare banca de pe glob.
       Rambursarea banilor se efectueaza integral in curs de 24 de ore de la anulare.
     </p>
     </li>
  <li>
    Daca anulez o calatorie, imi sunt returnati toti banii?
    <p>In cazul in care anularea se realizeaza cu mai putin de 2 zile inainte de data calatoriei,
      se restituie doar 75% din pretul initial, restul de 25% constituind o penalizarea pentru ocuparea locului.
    </p>
  </li>
  
   <li>
     Cine a fost liderul de proiect?
     <p>Munteanu Robert</p>
    </li>
    <li>
        In pret intra si transportul pana la aeroport?
        <p>Transportul este inclus in pretul fiecarui bilet. Sunati la numarul de contact de pe biletul dumneavoastra
          si comunicati detaliile operatorului.
        </p>
    </li>
    <li>
        Exista un motiv pentru care compania a fost numita "BlackMountain"
      <p>Numele companiei a fost decis in urma unei alegeri comune intre membrii originali ai echipei.
        S-a hotarat ca proportiile colosale ale corporatiei trebuie sa fie sugerate de de numele acesteia,
        ajungandu-se astfel la aceasta denumire cu caracter Biblic
      </p>
    </li>
 </ul>


</body>
