<body>
  <div class="questions-container">
    <ul style="padding:0%;">
      <li>
          &emsp;In cazul anularii unei calatorii se returneaza banii automat?
        <p>Da. Corporatia BlackMountain are contract cu aproape fiecare banca de pe glob.
          Rambursarea banilor se efectueaza integral in curs de 24 de ore de la anulare.
        </p>
        </li>
      <li>
          &emsp;Daca anulez o calatorie, imi sunt returnati toti banii?
        <p>In cazul in care anularea se realizeaza cu mai putin de 2 zile inainte de data calatoriei,
          se restituie doar 75% din pretul initial, restul de 25% constituind o penalizarea pentru ocuparea locului.
        </p>
      </li>
      
      <li>
          &emsp;Cine a fost liderul de proiect?
        <p>Munteanu Robert</p>
        </li>
        <li>
            &emsp;In pret intra si transportul pana la aeroport?
            <p>Transportul este inclus in pretul fiecarui bilet. Sunati la numarul de contact de pe biletul dumneavoastra
              si comunicati detaliile operatorului.
            </p>
        </li>
        <li>
            &emsp;Exista un motiv pentru care compania a fost numita BlackMountain?
          <p>Numele companiei a fost decis in urma unei alegeri comune intre membrii originali ai echipei.
            S-a hotarat ca proportiile colosale ale corporatiei trebuie sa fie sugerate de de numele acesteia,
            ajungandu-se astfel la aceasta denumire cu caracter Biblic.
          </p>
        </li>
    </ul>
  </div>

  <section class="bottom-icons-container">
      <a href="https://www.facebook.com"><img src="./assets/facebookIcon.png" style="width:30%; height: auto; position:absolute; float:left; " ></a>
      <a href="https://www.instagram.com"><img src="./assets/instagramIcon.png" style="width:30%; height: auto; position:absolute; left: 35%; float:left; " ></a>
      <a href="https://www.google.com"><img src="./assets/googleplusIcon.png" style="width:30%; height: auto; position:absolute; left: 70%; float:left; " ></a>
  </section>
</body>
