body{
    height: 200%
}
img{
    align-self:center
    
}


li {
    list-style-type: value;
    display: block;
    color: cornflowerblue;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 50px;
   

}


h1{
    display: block;
    text-align: center;
    padding: 14px 50px;

}

p{
    width:50%;
    font-weight: normal;
    text-indent: 50px;
    font-size: 17px;
    display: block;
    color:aqua;
    text-align: left;
    background: gray;
   
}

.bg{
    width: 50%;
    background: url('/assets/FAQ.jpg') no-repeat center;
    background-size: 100%;
    background-position: top center;
}